<html>
<body>
<h1>{{ restaurant.name }}</h1>

    {% if user.admin %}
<!--  ==================== Admin ====================  -->

        <a href="/logout">logout</a><br/>
        General Manager: {{ restaurant.gm }}

        <form action="/restaurant/{{ restaurant.id }}/set_gm" method="POST">
            <select name="gm_id">
                {% for user in user_list %}
                    <option value="{{ user.id }}"
                        {% if restaurant.gm
                            and restaurant.gm.id == user.id%} selected{% endif %}>{{ user.name }} ({{ user.email }})</li>
                {% endfor %}
            </select>
            <input type="submit" value="set"/>
        </form>


    {% elif user.id == restaurant.gm_id %}
<!--  ==================== GM ====================  -->

        <a href="/logout">logout</a><br/>
        Welcome, {{ user.name }}

        <h2>Roles</h2>
        <ul>
        {% for role in restaurant.roles %}
            <li>{{ role.name }}</li>
        {% endfor %}
        </ul>
        Add roles in the order new employees normally progress.
        <form action="/restaurant/{{ restaurant.id }}/add_role" method="POST">
            <input name="name"
                    type="text"
                    minlength=3
                    placeholder="Role"
                    size=10
                    title="Name of the role"
                    pattern=".{3,}"
                    requred autofocus />
            <input type="submit" value="add"/>
        </form>

        {% if user_roles %}
            <form action="/set_role_priority" method="POST">
                <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
                <ul>
                    {% for preference in user_roles %}
                        <li>
                            <input type="number"
                                name="{{ preference.id }}_gm_priority"
                                value="{{ preference.gm_priority }}"
                                min=1
                                max=100
                                step=1/>
                            {{ preference.role.name }}
                            {{ preference.user.name }}
                        </li>
                    {% endfor %}
                </ul>
                <input type="submit" value="change role priority"/>
            </form>
        {% endif %}

    {% elif user and user_restaurant_roles %}
<!--  ==================== Employee ====================  -->

        <a href="/logout">logout</a><br/>
        Welcome, {{ user.name }}.

        <p>Please make sure these are ordered in your order of preference.</p>
        {% if user_restaurant_roles %}
        <form action="/set_role_priority" method="POST">
            <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
            <ul>
                {% for role in user_restaurant_roles %}
                    <li>
                        <input type="number"
                            name="{{ role.id }}_priority"
                            value="{{ role.priority }}"
                            min=1
                            max=100
                            step=1/>
                        {{ role.role.name }}
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="change role priority"/>
        </form>
        {% endif %}

        <p>Add general availability</p>
        <form action="/restaurant/{{ restaurant.id }}/add_availability" method="POST">
            <select
                title="Day of the week"
                name="day_of_week">
                <option value="0">Monday</option>
                <option value="1">Tuesday</option>
                <option value="2">Wednesday</option>
                <option value="3">Thursday</option>
                <option value="4">Friday</option>
                <option value="5">Saturday</option>
                <option value="6">Sunday</option>
            </select>
            <select
                title="Availability"
                name="priority">
                <option value="1">Want to work</option>
                <option value="2">Could work</option>
                <option value="3">Prefer not to work</option>
                <option value="4">Cannot work</option>
            </select>
            <br/>
            <input type="date"
                   name="start_date"
                   value="{{today}}"
                   title="Start date"
                   min="{{today}}"
                   max="{{latest_date}}">
            -
            <input type="date"
                   name="end_date"
                   value="{{latest_date}}"
                   title="End date"
                   min="{{today}}"
                   max="{{latest_date}}">
            <br/>
            <input name="start_time"
                    type="text"
                    minlength=5
                    value="9:00 AM"
                    size=8
                    pattern="\d\d?:\d\d [AaPp][mM]"
                    title="Start time"
                    requred/>
            -
            <input name="end_time"
                    type="text"
                    minlength=5
                    value="5:00 PM"
                    size=8
                    pattern="\d\d?:\d\d [AaPp][mM]"
                    title="End time"
                    requred/>
            <br/>
            <textarea name="note" rows="4" cols="50" placeholder="Notes for scheduler if needed"></textarea>
            <br/>
            <input type="submit" value="add availability"/>
        </form>

    {% elif user %}
<!--  ==================== Logged non-employee ====================  -->

        <a href="/logout">logout</a><br/>
        Welcome, {{ user.name }}. You have been invited to join our team.

        Add user to restaurant


    {% else %}
<!--  ==================== Not logged in ====================  -->

        Welcome, you have been invited to join the {{ restaurant.name }} family.
        <form action="/create_user" method="POST">
            <input name="name"
                    type="text"
                    minlength=5
                    placeholder="first and last name"
                    size=25
                    title="your name"
                    requred autofocus /><br/>
            <input name="email"
                    type="text"
                    minlength=5
                    placeholder="email address"
                    size=25
                    pattern="[^@ \t\r\n]+@[^@]+\.[^@]+"
                    title="your email address"
                    requred /><br/>
            <input name="password"
                    type="password"
                    minlength=5
                    placeholder="password"
                    size=25
                    title="your password"
                    requred />
            <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}"/>
            <input type="submit" value="join"/>
        </form>

    {% endif %}

</body>
</html>
