<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="shortcut icon" href="favicon r.ico" type="image/x-icon">
</head>
<body>
</head>
<h1 id="heading">{{ restaurant.name }}</h1>

    {% if user.admin %}
<!--  ==================== Admin ====================  -->

        <a href="/logout">Logout</a><br/>
        <h3>General Manager: {{ restaurant.gm }}</h3>

        <form action="/restaurant/{{ restaurant.id }}/set_gm" method="POST">
            <select name="gm_id">
                {% for user in user_list %}
                    <option value="{{ user.id }}"
                        {% if restaurant.gm
                            and restaurant.gm.id == user.id%} selected{% endif %}>{{user.name}} ({{ user.email }})</li>
                {% endfor %}
            </select>
            <input type="submit" value="set"/>
        </form>


    {% elif user.id == restaurant.gm_id %}
<!--  ==================== GM ====================  -->

        <a href="/logout">Logout</a><br/>
        Welcome, {{ user.name }}

        <h2>Roles</h2>
        <ul>
        {% for role in restaurant.roles %}
            <li>{{ role.name }}</li>
        {% endfor %}
        </ul>
        <h3>Add Roles in the order New Employees normally progress.</h3>
        <form action="/restaurant/{{ restaurant.id }}/add_role" method="POST">
            <input name="name"
                    type="text"
                    minlength=3
                    placeholder="Role"
                    size=10
                    id="roleinput"
                    title="Name of the role"
                    pattern=".{3,}"
                    required autofocus />
            <input type="submit" id="addbtn" value="Add"/>
        </form>


        {% if user_roles %}
            <form action="/set_role_priority" method="POST">
                <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
                <ul>
                    {% for preference in user_roles %}
                        <li>
                            <input type="number"
                                name="{{ preference.id }}_gm_priority"
                                value="{{ preference.gm_priority }}"
                                id="preference_role"
                                min=1
                                max=100
                                step=1/>
                            {{ preference.role.name }}
                            {{ preference.user.name }}
                        </li>
                    {% endfor %}
                </ul>
                <input type="submit" id = "cpr" value="Change Role Priority"/>
            </form>
        {% endif %}


        <h2>Shifts</h2>
        <form action="/restaurant/{{ restaurant.id }}/add_shift" method="POST">
            <select
                title="Day of the week"
                name="day_of_week">
                <option value="0">Monday</option>
                <option value="1">Tuesday</option>
                <option value="2">Wednesday</option>
                <option value="3">Thursday</option>
                <option value="4">Friday</option>
                <option value="5">Saturday</option>
                <option value="6">Sunday</option>
            </select>
            <br/>
            <input type="date"
                   name="start_date"
                   value="{{today}}"
                   title="Start date"
                   min="{{today}}"
                   max="{{latest_date}}">
            -
            <input type="date"
                   name="end_date"
                   value="{{latest_date}}"
                   title="End date"
                   min="{{today}}"
                   max="{{latest_date}}">
            <br/>
            <input name="start_time"
                    type="text"
                    minlength=5
                    value="9:00 AM"
                    size=8
                    pattern="\d\d?:\d\d [AaPp][mM]"
                    title="Start time"
                    requred/>
            -
            <input name="end_time"
                    type="text"
                    minlength=5
                    value="5:00 PM"
                    size=8
                    pattern="\d\d?:\d\d [AaPp][mM]"
                    title="End time"
                    requred/>
            <br/>
            priority: <input type="number"
                name="priority"
                value="1"
                min=1
                max=100
                step=1/>
            <br/>
            <input type="submit" value="add shift"/>
        </form>

        <ul>
        {% for shift in restaurant.shifts %}
            <li>
                day_of_week={{ shift.day_of_week }}
                priority={{ shift.priority }}
                start_date={{ shift.start_date }}
                end_date={{ shift.end_date}}
                start_time={{ shift.start_time }}
                end_time={{ shift.end_time}}
            </li>
        {% endfor %}
        </ul>

        <h2>Employees</h2>

        <ul>
        {% for employee in employees %}
            <li> {{ employee.name }} {{ employee.email }} </li>
        {% endfor %}
        </ul>

        {% if user_roles %}
            <h2>The priority order for each employee in each role</h2>
            <form action="/set_role_priority" method="POST">
                <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
                <ul>
                    {% for preference in user_roles %}
                        <li>
                            <input type="number"
                                name="{{ preference.id }}_gm_priority"
                                value="{{ preference.gm_priority }}"
                                min=1
                                max=100
                                step=1/>
                            {{ preference.role.name }}
                            {{ preference.user.name }}
                        </li>
                    {% endfor %}
                </ul>
                <input type="submit" value="change role priority"/>
            </form>
        {% endif %}

    {% elif user and user_restaurant_roles %}
<!--  ==================== Employee ====================  -->

        <br><a href="/logout">Logout</a><br/>
        <h2>Welcome, {{ user.name }}.</h2>


        <p>Please make sure these are ordered in your order of preference.</p>
        {% if user_restaurant_roles %}
        <form action="/set_role_priority" method="POST">
            <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
            <ul>
                {% for role in user_restaurant_roles %}
                    <li>
                        <input type="number"
                            name="{{ role.id }}_priority"
                            value="{{ role.priority }}"
                            min=1
                            max=100
                            step=1/>
                        {{ role.role.name }}
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Change Role Priority"/>
        </form>
        {% endif %}

        <h2>Add general availability</h2>
        <form id="ada"  action="/restaurant/{{ restaurant.id }}/add_availability" method="POST">

        <p>Add general availability</p>
        <form action="/restaurant/{{ restaurant.id }}/add_availability" method="POST">

            <select
                title="Day of the week"
                name="day_of_week">
                <option value="0">Monday</option>
                <option value="1">Tuesday</option>
                <option value="2">Wednesday</option>
                <option value="3">Thursday</option>
                <option value="4">Friday</option>
                <option value="5">Saturday</option>
                <option value="6">Sunday</option>
            </select>
            <select
                title="Availability"
                name="priority">
                <option value="1">Want to work</option>
                <option value="2">Could work</option>
                <option value="3">Prefer not to work</option>
                <option value="4">Cannot work</option>
            </select>
            <br/>
            <input type="date"
                   name="start_date"
                   value="{{today}}"
                   title="Start date"
                   min="{{today}}"
                   max="{{latest_date}}">
            -
            <input type="date"
                   name="end_date"
                   value="{{latest_date}}"
                   title="End date"
                   min="{{today}}"
                   max="{{latest_date}}">
            <br/>
            <input name="start_time"
                    type="text"
                    minlength=5
                    value="9:00 AM"
                    size=8
                    pattern="\d\d?:\d\d [AaPp][mM]"
                    title="Start time"
                    required/>
            -
            <input name="end_time"
                    type="text"
                    minlength=5
                    value="5:00 PM"
                    size=8
                    pattern="\d\d?:\d\d [AaPp][mM]"
                    title="End time"
                    required/>
            <br/>
            <textarea name="note" rows="4" cols="50" placeholder="Notes for scheduler if needed"></textarea>
            <br/>
            <input type="submit" id="addavail" value="Add Availability"/>
        </form>

        <ul>
        {% for availability in user.availabilities %}
            {% if availability.restaurant_id == restaurant.id %}
                <li>
                    day_of_week: {{ availability.day_of_week }}
                    start: {{ availability.start_date }}
                    end: {{ availability.end_date }}
                    earliest: {{ availability.start_time }}
                    latest: {{ availability.end_time }}
                    priority: {{ availability.priority }}
                    note: {{ availability.note }}
                </li>
            {% endif %}
        {% endfor %}
        </ul>

        {% if user_restaurant_roles %}
        <h2>Shift-Employee Preferences</h2>
        <p>Please make sure these are ordered in your order of preference.</p>
        <form action="/set_role_priority" method="POST">
            <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
            <ul>
                {% for role in user_restaurant_roles %}
                    <li>
                        <input type="number"
                            name="{{ role.id }}_priority"
                            value="{{ role.priority }}"
                            min=1
                            max=100
                            step=1/>
                        {{ role.role.name }}
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="change role priority"/>
        </form>
        {% endif %}

    {% elif user %}
<!--  ==================== Logged non-employee ====================  -->

        <a href="/logout">Logout</a><br/>
        Welcome, {{ user.name }}. You have been invited to join our team.

        Add user to restaurant


    {% else %}
<!--  ==================== Not logged in ====================  -->

        <h3>Welcome, you have been invited to join the {{ restaurant.name }} family.</h3>
        <form id="create_user" action="/create_user" method="POST">
            <input name="name"
                    type="text"
                    minlength=5
                    placeholder="Your Name"
                    size=25
                    id="name"
                    title="your name"
                    required autofocus /><br/><br>
            <input name="email"
                    type="text"
                    minlength=5
                    placeholder="Email Address"
                    size=25
                    id="email"
                    pattern="[^@ \t\r\n]+@[^@]+\.[^@]+"
                    title="your email address"
                    required /><br/><br>
            <input name="password"
                    type="password"
                    minlength=5
                    placeholder="Password"
                    size=25
                    id="passw"
                    title="your password"
                    required /><br>
            <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}"/><br>
            <input type="submit" id="joinbtn" value="Join"/>
        </form>

    {% endif %}

<style>
    #heading{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    #roleinput{
        width: 10em;
        height: 2.5em;
        font-size: 15px;
        text-align: center;
        
    }

    #addbtn,#joinbtn{
        width: 4.2em;
        height: 2em;
        font-size: 15px;
    }
    #name,#email,#passw{
        font-size: 15px;
        width: 12em;
        height: 2.5em;
        margin-left: 60px;
    }
    #addavail{
        width: 10em;
        font-size: 15px;
        height: 2.5em;
        margin-left: 50px;
    }
    #ada{  /*Add Aviailability*/
        margin-left: 50px;
        
    }
    #cpr{ /*change role priority*/
        width: 10em;
        height: 3em;
        font-size: 15px;
        font: bolder;
    }
    #preference_role{
        width: 8em;
        height: 2.1em;

    }
</style>
</body>
</html>