<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/r.ico" type="image/x-icon">
        <title>Restaurant</title>
    </head>

    <script>

    {% if user.id == restaurant.gm_id %}
        var employees = [
            {% for employee in employees %}
                {
                    "name": "{{ employee.name }}",
                    "id": {{ employee.id }},
                    "email": "{{ employee.email }}",
                    "hours_limit": {{ employee.hours_limit }},
                    "role_preferences": {
                        {% for preference in employee.roles %}
                        {% if preference.role.restaurant_id == restaurant.id %}
                            "{{ preference.role.name}}": {
                                "id": {{ preference.role.id }},
                                "priority": {{ preference.priority }},
                                "gm_priority": {{ preference.gm_priority }}
                            },
                        {% endif %}
                        {% endfor %}
                    },
                    "availability": [
                        {% for availability in employee.availabilities %}
                        {% if availability.restaurant.id == restaurant.id
                                and availability.start_date < now and now < availability.end_date  %}
                            {
                                "day_of_week": {{ availability.day_of_week}},
                                "start_date": "{{ availability.start_date }}",
                                "end_date": "{{ availability.end_date }}",
                                "start_time" : {{ availability.start_time }},
                                "end_time": {{ availability.end_time }},
                                "priority": {{ availability.priority }},
                                "note": "{{ availability. note }}"
                            },
                        {% endif %}
                        {% endfor %}
                    ]
                },
            {% endfor %}
        ];

        var shifts = [
            {% for shift in restaurant.shifts %}
            {% if shift.start_date < now and now < shift.end_date %}
                {
                    "id": {{ shift.id }},
                    "day_of_week": {{ shift.day_of_week}},
                    "start_date": "{{ shift.start_date }}",
                    "end_date": "{{ shift.end_date }}",
                    "start_time" : {{ shift.start_time }},
                    "end_time": {{ shift.end_time }},
                    "priority": {{ shift.priority }},
                    "roles" : [
                    {% for role in shift.roles %}
                        {
                            "role": "{{ role.role.name }}",
                            "id": "{{ role.role.id }}",
                            "number": {{ role.number }}
                        },
                    {% endfor %}
                    ]
                },
            {% endif %}
            {% endfor %}
        ];
    {% endif %}

    </script>

<body>

<h1>{{ restaurant.name }}</h1>

    {% if user.admin %}
<!--  ==================== Admin ====================  -->

        <a href="/logout">logout</a><br/>
        General Manager: {{ restaurant.gm }}

        <form action="/restaurant/{{ restaurant.id }}/set_gm" method="POST">
            <select name="gm_id">
                {% for user in user_list %}
                    <option value="{{ user.id }}"
                        {% if restaurant.gm
                            and restaurant.gm.id == user.id%} selected{% endif %}>{{ user.name }} ({{ user.email }})</li>
                {% endfor %}
            </select>
            <input type="submit" value="set"/>
        </form>


    {% elif user.id == restaurant.gm_id %}
<!--  ==================== GM ====================  -->

        <a href="/logout">logout</a><br/>
        Welcome, {{ user.name }}

        <h2>Roles</h2>
        <ul>
        {% for role in restaurant.roles %}
            <li>{{ role.name }}</li>
        {% endfor %}
        </ul>
        Add roles in the order new employees normally progress.
        <form action="/restaurant/{{ restaurant.id }}/add_role" method="POST">
            <input name="name"
                    type="text"
                    minlength=3
                    placeholder="Role"
                    size=10
                    title="Name of the role"
                    pattern=".{3,}"
                    required autofocus />
            <input type="submit" value="add"/>
        </form>

        <h2>Shifts</h2>
        <form action="/restaurant/{{ restaurant.id }}/add_shift" method="POST">
            <select
                title="Day of the week"
                name="day_of_week">
                <option value="0">Monday</option>
                <option value="1">Tuesday</option>
                <option value="2">Wednesday</option>
                <option value="3">Thursday</option>
                <option value="4">Friday</option>
                <option value="5">Saturday</option>
                <option value="6">Sunday</option>
            </select>
            <br/>
            <input type="date"
                   name="start_date"
                   value="{{today}}"
                   title="Start date"
                   min="{{today}}"
                   max="{{latest_date}}">
            -
            <input type="date"
                   name="end_date"
                   value="{{latest_date}}"
                   title="End date"
                   min="{{today}}"
                   max="{{latest_date}}">
            <br/>
            <input name="start_time"
                    type="text"
                    minlength=5
                    value="9:00 AM"
                    size=8
                    pattern="\d\d?:\d\d [AaPp][mM]"
                    title="Start time"
                    required/>
            -
            <input name="end_time"
                    type="text"
                    minlength=5
                    value="5:00 PM"
                    size=8
                    pattern="\d\d?:\d\d [AaPp][mM]"
                    title="End time"
                    required/>
            <br/>
            priority: <input type="number"
                name="priority"
                value="1"
                min=1
                max=100
                step=1/>
            <br/>
            <input type="submit" value="add shift"/>
        </form>

        <ul>
        {% for shift in restaurant.shifts %}
            <li>
                day_of_week={{ shift.day_of_week }}
                priority={{ shift.priority }}
                start_date={{ shift.start_date }}
                end_date={{ shift.end_date}}
                start_time={{ shift.start_time }}
                end_time={{ shift.end_time}}
                <ul>
                {% for role in shift.roles %}
                    <li>{{ role.number }} x {{ role.role.name }}</li>
                {% endfor %}
                </ul>
                <form action="/restaurant/{{ restaurant.id }}/shift/{{ shift.id }}/add_role" method="POST">
                    <select
                        title="Role"
                        name="role_id">
                        {% for role in restaurant.roles %}
                            <option value="{{ role.id }}">{{ role.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="number"
                        name="number"
                        value="1"
                        min=1
                        max=100
                        step=1/>
                    <input type="submit" value="add role to shift"/>
                </form>
            </li>
        {% endfor %}
        </ul>

        <h2>Employees</h2>

        <ul>
        {% for employee in employees %}
            <li> {{ employee.name }} {{ employee.email }} </li>
        {% endfor %}
        </ul>

        {% if user_roles %}
            <h2>The priority order for each employee in each role</h2>
            <form action="/set_role_priority" method="POST">
                <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
                <ul>
                    {% for preference in user_roles %}
                        <li>
                            <input type="number"
                                name="{{ preference.id }}_gm_priority"
                                value="{{ preference.gm_priority }}"
                                min=1
                                max=100
                                step=1/>
                            {{ preference.role.name }}
                            {{ preference.user.name }}
                        </li>
                    {% endfor %}
                </ul>
                <input type="submit" value="change role priority"/>
            </form>
        {% endif %}

    {% elif user and user_restaurant_roles %}
<!--  ==================== Employee ====================  -->

        <a href="/logout">logout</a><br/>
        Welcome, {{ user.name }}.

        <p>Add general availability</p>
        <form action="/restaurant/{{ restaurant.id }}/add_availability" method="POST">
            <select
                title="Day of the week"
                name="day_of_week">
                <option value="0">Monday</option>
                <option value="1">Tuesday</option>
                <option value="2">Wednesday</option>
                <option value="3">Thursday</option>
                <option value="4">Friday</option>
                <option value="5">Saturday</option>
                <option value="6">Sunday</option>
            </select>
            <select
                title="Availability"
                name="priority">
                <option value="1">Want to work</option>
                <option value="2">Could work</option>
                <option value="3">Prefer not to work</option>
                <option value="4">Cannot work</option>
            </select>
            <br/>
            <input type="date"
                   name="start_date"
                   value="{{today}}"
                   title="Start date"
                   min="{{today}}"
                   max="{{latest_date}}">
            -
            <input type="date"
                   name="end_date"
                   value="{{latest_date}}"
                   title="End date"
                   min="{{today}}"
                   max="{{latest_date}}">
            <br/>
            <input name="start_time"
                    type="text"
                    minlength=5
                    value="9:00 AM"
                    size=8
                    pattern="\d\d?:\d\d [AaPp][mM]"
                    title="Start time"
                    required/>
            -
            <input name="end_time"
                    type="text"
                    minlength=5
                    value="5:00 PM"
                    size=8
                    pattern="\d\d?:\d\d [AaPp][mM]"
                    title="End time"
                    required/>
            <br/>
            <textarea name="note" rows="4" cols="50" placeholder="Notes for scheduler if needed"></textarea>
            <br/>
            <input type="submit" value="add availability"/>
        </form>

        <ul>
        {% for availability in user.availabilities %}
            {% if availability.restaurant_id == restaurant.id %}
                <li>
                    day_of_week: {{ availability.day_of_week }}
                    start: {{ availability.start_date }}
                    end: {{ availability.end_date }}
                    earliest: {{ availability.start_time }}
                    latest: {{ availability.end_time }}
                    priority: {{ availability.priority }}
                    note: {{ availability.note }}
                </li>
            {% endif %}
        {% endfor %}
        </ul>

        {% if user_restaurant_roles %}
        <h2>Shift-Employee Preferences</h2>
        <p>Please make sure these are ordered in your order of preference.</p>
        <form action="/set_role_priority" method="POST">
            <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
            <ul>
                {% for role in user_restaurant_roles %}
                    <li>
                        <input type="number"
                            name="{{ role.id }}_priority"
                            value="{{ role.priority }}"
                            min=1
                            max=100
                            step=1/>
                        {{ role.role.name }}
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="change role priority"/>
        </form>
        {% endif %}

    {% elif user %}
<!--  ==================== Logged non-employee ====================  -->

        <a href="/logout">logout</a><br/>
        Welcome, {{ user.name }}. You have been invited to join our team.

        Add user to restaurant


    {% else %}
<!--  ==================== Not logged in ====================  -->

        Welcome, you have been invited to join the {{ restaurant.name }} family.
        <form action="/create_user" method="POST">
            <input name="name"
                    type="text"
                    minlength=5
                    placeholder="first and last name"
                    size=25
                    title="your name"
                    required autofocus /><br/>
            <input name="email"
                    type="text"
                    minlength=5
                    placeholder="email address"
                    size=25
                    pattern="[^@ \t\r\n]+@[^@]+\.[^@]+"
                    title="your email address"
                    required /><br/>
            <input name="password"
                    type="password"
                    minlength=5
                    placeholder="password"
                    size=25
                    title="your password"
                    required />
            <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}"/>
            <input type="submit" value="join"/>
        </form>

    {% endif %}

</body>
</html>
