<html>
<body>
<h1>Welcome {{ user.name }}</h1>
    <a href="/logout">logout</a><br/>
    {% if user.admin %}
        Hey, admin.

        <h2>Create Restaurant</h2>
        <form action="/create_restaurant" method="POST">
            <input name="name"
                    type="text"
                    minlength=5
                    placeholder="Restaurant Name"
                    size=25
                    title="The Restaurant Name"
                    requred autofocus />
            <input type="submit" value="create"/>
        </form>

        <h2>Users</h2>
        <ul>
        {% for user in user_list %}
            <li>{{ user.name }} ({{ user.email }})</li>
        {% endfor %}
        </ul>

        <h2>Restaurants</h2>
        <ul>
        {% for restaurant in restaurant_list %}
            <li><a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a>
                (GM: {{ restaurant.gm }})</li>
        {% endfor %}
        </ul>

        Session ages: {{ sessions }}
    {% endif %}

    <ul>
    {% for restaurant in user.gm_at %}
        <li><a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a></li>
    {% endfor %}
    </ul>

    <ul>
    {% for restaurant in user_restaurants %}
        <li><a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a></li>
        <ul>
            {% for role in sorted_roles %}
                {% if role.role.restaurant_id == restaurant.id %}
                    <li>{{ role.role.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>
</body>
</html>
